body {
    margin:  0 auto;
    width: 45em;
    max-width: 95%;
}

h1, h2, h3 {
    margin:  0;
}

input:readonly {
    opacity: 0.5;
}

table img {
    height: 1em;
}

.note {
    font-style: italic;
    font-size: 0.9em;
}

.fake_button {
    padding:  0.75em 0.5em;
    border-radius: 0.5em;
    text-align: center;
    color: var(--primary-inverse);
}

    .fake_button:hover {
        cursor: pointer;
        filter: brightness(1.25);
    }