<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
    <title>Metar Map | Display settings</title>
</head>
<body>
    <h1>METAR map</h1>
    <h2>Display settings</h2>
    <form method="post" id="settings">
        <h3>Colours</h3>
        <table>
            {% for option in colours %}
                <tr>
                    <td>{{ option }}</td>
                    <td>
                        <select name="colour_{{ option }}">
                            <option value="0,0,255" {{ 'selected' if colours[option]=='0,0,255' else '' }}>Blue</option>
                            <option value="255,0,0" {{ 'selected' if colours[option]=='255,0,0' else '' }}>Green</option>
                            <option value="125,255,0" {{ 'selected' if colours[option]=='125,255,0' else '' }}>Orange</option>
                            <option value="0,125,125" {{ 'selected' if colours[option]=='0,125,125' else '' }}>Pink</option>
                            <option value="0,255,0" {{ 'selected' if colours[option]=='0,255,0' else '' }}>Red</option>
                            <option value="255,255,255" {{ 'selected' if colours[option]=='255,255,255' else '' }}>White</option>
                            <option value="255,255,0" {{ 'selected' if colours[option]=='255,255,0' else '' }}>Yellow</option>
                        </select>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h3>Brightness</h3>
        <label>Day</label>
        <input type="range" name="day_brightness" min="10" max="70" value="{{ brightness['day'] * 100 }}">
        <label>Night</label>
        <input type="range" name="night_brightness" min="10" max="70" value="{{ brightness['night'] * 100 }}">

        <h3>Wind</h3>
        <label>Display</label>
        <select name="wind_enabled" onchange="toggle_conditional('blink_threshold', this.value); toggle_conditional('high_wind_threshold', this.value)">
            <option value="false">Disabled</option>
            <option value="true" {{ 'selected' if wind['enabled'] else '' }}>Enabled</option>
        </select>
        <label>Blink threshold (knots)</label>
        <input type="number" name="blink_threshold" value="{{ wind['blink_threshold'] }}">
        <label>High wind threshold (knots)</label>
        <span class="note" style="padding-left: 1em;">Set to -1 to disable</span>
        <input type="number" name="high_wind_threshold" value="{{ wind['high_wind_threshold'] }}">


        <h3>Lightning</h3>
        <label>Display</label>
        <select name="lightning_enabled" >
            <option value="false">Disabled</option>
            <option value="true" {{ 'selected' if lightning['enabled'] else '' }}>Enabled</option>
        </select>
        <button onmouseup="reboot_message();">Save</button>
    </form>

</body>
<script type="text/javascript">
    function toggle_conditional(name, enabled) {
        var target = document.getElementsByName(name)[0];
        if (enabled == 'true') {
            target.readOnly = false;
            target.style.opacity = 1;
        } else {
            target.readOnly = true;
            target.style.opacity = 0.25;
        }
    }
</script>
</html>