<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
    <title>Metar Map | Initial setup</title>
</head>
<body>
    <h1>METAR map</h1>
    <h2>Setup</h2>
    <p>Welcome to your new METARMap</p>
    <p>Please fill in the details below to connect your map to the internet.</p>
    {% if message != '' %}
        <div>{{ message }}</div>
    {% endif %}
    {% if submitted != '' %}
        <table>
            <tr>
                <td>Email address</td>
                <td>{{ submitted['email'] }}</td>
            </tr>
            <tr>
                <td>Network SSID</td>
                <td>{{ submitted['ssid'] }}</td>
            </tr>
            <tr>
                <td>Network Key/Password</td>
                <td>{{ submitted['network_key'] }}</td>
            </tr>
        </table>
        <div>
            <a href="/reboot?new_network=1" role="button">Complete setup</a> or <a href="">start again</a>
        </div>
    {% else %}
        <form method="post">
            <label>System password</label>
            <span class="note">(the password you were provided with at the time of purchase)</span>
            <input type="password" name="password">
            <label>Email address</label>
            <input type="email" name="email">
            <label>Network SSID</label>
            <input type="text" name="ssid">
            <label>Network Key/Password</label>
            <input type="text" name="key">
            <button>Submit</button>
        </form>
    {% endif %}
    {% if error != '' %}
        <div style="color: var(--del-color)">{{ error }}</div>
    {% endif %}
    
</body>

</html>